<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>misc05_picking_BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>misc05_picking_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>misc05_picking_slow_easy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tutorial02_red_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tutorial03_matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tutorial04_colored_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tutorial05_textured_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tutorial06_keyboard_and_mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tutorial07_model_loading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tutorial08_basic_shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tutorial09_AssImp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tutorial09_several_objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tutorial09_vbo_indexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tutorial10_transparency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>tutorial11_2d_fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tutorial12_extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tutorial13_normal_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tutorial15_lightmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tutorial16_shadowmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>tutorial16_shadowmaps_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>tutorial17_rotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>tutorial18_billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tutorial18_particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1159135ED1914A5EA998FFF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>172AE853EEF849BDB1BC2C90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2548E8F9B0F64731ADC17C20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D05914160AB4F599791320F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8155EBBDA54E58BFCC2231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324ABDBAD1144F769A8BFC2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382D735541504753940C8C68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C8F0C8EA8F747549B8E9F8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DDE8800B1A949838BC4F2DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47A1B7FF96714509A83EEB59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A2A56312F36480B9C087516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A88CC3AF17D44F69D787018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B4B3D63AF5C4F2E962967FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEC2AF329174E44943C45AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5572F389F46743EC855FD2E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57BCE05FD8B743B3AA079188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6BBD98FBBC439DA2EE48A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F54B57C4B3442FAB5760D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FEA519C075246C0B0BE7EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61DF6336DAC24FB38E23F347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>748209FDA49546E6B46662A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B4DB4F397144CE780A77D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EC14CD02A7F48DA861A826C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EDC370460D4A1AA5A8C01E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AD89AB54276491E9A5B06C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B0E9022126645CE9E09DEF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C59D2A484534F6F87E43758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D915A8CAE674B46AB20FEEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABA04102AAB44705BC89968A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF67950938E8406CBFEF9818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B54ED391A83147E7897B0956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB6723DBC30D4CE082F276D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAAE033A88B14B9F9C2C64CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEBD9D0F4C7D4B7197DC3B36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0CC70A83CD14B538E61E58E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8CC0E7AF6FD4A70BCE737B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F22F692FAAFA4ABC8E9E66DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF2F454271D74BBBBD26C9F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
